.spinner-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colum-grid {
  transition: all 0.33s;
}

.colum-grid:hover {
  transform: scale(1.033);
}

.card-grid:hover {
  cursor: pointer;
}
